.topbar {
  height: 72px;

  background: #ffffff;

  border-bottom: 1px solid #e5e9ef;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 25px;

  position: sticky;
  top: 0;

  z-index: 900;
}

/* Left */

.topbar-left {
  display: flex;
  align-items: center;
}

.title-section h5 {
  margin: 0;

  color: #173f73;

  font-size: 17px;
  font-weight: 600;
}

.breadcrumb-text {
  margin-top: 4px;

  color: #7b8794;

  font-size: 11px;
}

.breadcrumb-text span {
  margin: 0 5px;
  color: #b0b8c2;
}

/* Right */

.topbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Notification */

.icon-button {
  position: relative;

  width: 38px;
  height: 38px;

  border: none;
  background: transparent;

  border-radius: 50%;

  color: #52606d;

  font-size: 18px;

  cursor: pointer;
}

.icon-button:hover {
  background: #f1f5f9;
}

.notification-dot {
  position: absolute;

  top: 7px;
  right: 7px;

  width: 7px;
  height: 7px;

  background: #e74c3c;

  border-radius: 50%;

  border: 2px solid white;
}

/* User */

.user-profile {
  display: flex;
  align-items: center;

  gap: 10px;

  cursor: pointer;
}

.user-avatar {
  width: 38px;
  height: 38px;

  border-radius: 50%;

  background: #e8f1fb;

  color: #1769c2;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  color: #243b53;

  font-size: 13px;
  font-weight: 600;
}

.user-info small {
  color: #829ab1;

  font-size: 10px;
}

.dropdown-icon {
  color: #829ab1;

  font-size: 11px;

  margin-left: 3px;
}